.abt-head {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 500;
    /* color: #5da759; */
    color: white;
    padding: 1rem 0;
}

.about section.container {
    padding-top: 6.5rem;
}

.abt-content {
    /* background: rgb(212, 255, 212); */
    color: white;
    padding: 2rem 0;
    background-image: url("https://img.freepik.com/premium-photo/top-view-black-friday-decoration-concept-with-gift-box-shopping-cart-shopping-bag-dark-background-shopping-concept-boxing-day-black-friday-composition_53476-6274.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.abt-hmbtn {
    border-radius: 0;
    background-color: #0a5616;
    color: white;
    border: 1px solid #0a5616;
}

.btn-grp {
    margin: 2rem 0 1.5rem;
}

.abt-hmbtn:hover {
    border: 1px solid #0a5616;
    background-color: rgb(238, 255, 238);
}

.abt-cntbtn {
    border-radius: 0;
    color: #0a5616;
    /* color: white; */
    background-color: rgb(238, 255, 238);
    border: 1px solid #0a5616;
}

.abt-cntbtn:hover {
    color: white;
    border: 1px solid rgb(212, 255, 212);
}

p {
    margin: 0;
}

.head-p {
    position: relative;
}

.quote {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    font-size: 7rem;
    font-weight: 700;
    /* color: #0a5616; */
    color: white;
}

.open-q {
    top: -14%;
    left: -15%;
}

.close-q {
    top: -10%;
    right: -15%;
}


/* meet our team */

.abt-team {
    margin-top: 1.5rem;
    padding: 3.5rem 0;
}

.team-head {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2.5rem;
}

.dev-img {
    width: auto;
}

.abt-team .col {
    padding: 1rem;
}

.soc-link {
    background-color: transparent;
    border-radius: 5px;
    border-color: #0a5616;
    color: #0a5616;
}

.soc-link:hover {
    color: rgb(212, 255, 212);
    background-color: #0a5616;
    border-color: #0a5616;
}