.cart {
    /* display: none; */
    background-color: #fff;
    top: 70px;
    right: -24%;
    height: 100vh;
    width: 25vw;
    padding: 5rem 2rem 3rem;
    /* border-left: 2px solid #454545; */
    z-index: 5;
    transition: right .5s;
    font-size: 15px;
    overflow: hidden auto;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.500);
}

.cart tr:nth-child(2n),
.cart thead tr {
    background-color: rgb(237, 255, 237);
}

/* 
tbody:nth-child(odd) {
    background-color: rgb(255, 255, 255);
} */

td,
th {
    background-color: inherit !important;
}

.cart-head {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 1rem;
}

.plc-ord {
    color: rgb(255, 255, 255);
}

.qty-group {
    position: relative;
    border: 1px solid #0a5616;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25px;
    height: 50px;
    padding: 2px;
    background-color: #fff;
}

.addqty-btn,
.delqty-btn {
    position: absolute;
    width: 100%;
    line-height: 1;
    border: none;
    background-color: rgb(200, 240, 200);
}

.addqty-btn {
    top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* padding-top: 25px; */
}

.delqty-btn {
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* padding-bottom: 25px; */
}

.cart .p-name,
.qty,
.price {
    padding-right: 5px;
}

#qty {
    width: 45px;
}

.cart-tbl {
    background-color: transparent;
}

.shop-cart {
    margin: 1.5rem 0 4.5rem;
}

.crt-shp-nm {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 2px solid #0a5616;
    padding-right: 1rem;
    width: fit-content;
}

.gfdel {
    font-size: 20px;
    color: #0a5616;
    cursor: pointer;
    border-radius: 50px;
}

.gfdel:hover {
    box-shadow: 0px 0px 5px #0a5616;
    background-color: #0a5616;
    color: white;
}

.cart-prod-nm {
    width: 2rem;
}


/* c icon */

.cart-icon {
    cursor: pointer;
    position: fixed;
    top: 15%;
    right: 10%;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.500);
    background-color: rgb(238, 255, 238);
    /* border: 1px solid #0a5616; */
    z-index: 10;
    padding: 5px;
}


.crt-qty {
    position: absolute;
    top: -20%;
    right: -15%;
    font-size: 15px;
    font-weight: 600;
    background-color: #0a5616;
    color: rgb(212, 255, 212);
    padding: 0px 7px;
    text-align: center;
    border-radius: 50px;
}