.fg-pswd-par {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.fg-pswd-par h4 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.fg-pswd-par form {
    padding: 2rem;
    width: 30vmax;
    border: 3px solid #0a5616;
    border-radius: 10px;
}

.fg-pswd-par form label {
    font-weight: 600;
}

.fg-pswd-par form input {
    border: 1px solid #0a5616;
}

.fg-pswd-par form input[type="submit"] {
    margin-right: 1.5rem;
    padding: 0.7rem 1.7rem;
    background-color: #0a5616;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.fg-pswd-par form p {
    margin-bottom: 1rem;
    font-size: 14px;
    opacity: 80%;
    letter-spacing: 1px;
}