.merchant {
    width: 100%;
    min-height: 90vh;
    background-color: rgb(238, 255, 238);
    padding-top: 8rem;
}

.merchant button {
    background-color: #0a5616;
    border-color: #0a5616;
}

.merchant button:hover {
    border-color: #0a5616;
    color: #0a5616;
}

.merchant-head {
    border-color: #0a5616 !important;
}

.merchant-head .material-symbols-outlined {
    color: rgb(67, 152, 67);
}

.merchant-menu {
    position: fixed;
    z-index: -10;
    background-color: rgb(170 236 170);
    padding: 0;
    border: 1px solid black;
}

.merchant-menu .list-group-item {
    border: none;
    border-top: 1px solid black;
}

.merchant-menu .material-symbols-outlined {
    color: rgb(67, 152, 67);
}

.merchant-menu p {
    background-color: rgb(212, 255, 212);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.666);
}

.merchant .card-body {
    padding: 2rem 3rem 1rem;
    /* padding-left: 3rem; */
}

.mer-shpnm {
    margin: 1rem;
    margin-left: 2.5rem;
}

.order,
.del-prod-card {
    background-color: rgb(212, 255, 212) !important;
}

.order {
    margin: auto;
    width: 87%;
}

.del-prod-card .prod-img img {
    height: 30vh !important;
}

.order table tr td,
.order table tr th {
    padding: 4px;
    font-size: 19px !important;
}

.order-header {
    padding-left: 3rem;
    background-color: #0a5616;
    color: white;
}

.del-prod-card {
    /* margin: auto; */
    width: 70%;
}

.merchant-sel-inp {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 15rem !important;
}

.merchant table {
    --bs-table-bg: transparent;
}

.order-status {
    background-color: rgb(170 236 170);
}

.merchant .form-control {
    background-color: rgb(212, 255, 212) !important;
}

#cp-qty {
    width: 5rem;
}